asgiref==3.8.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django==5.1.4
drf_yasg==1.21.8
inflection==0.5.1
jwt==2.10.1
mysqlclient==2.2.6
packaging==24.2
pillow==11.1.0
pytz==2024.2
PyYAML==6.0.2
rest_framework==3.15.2
rest_framework_simplejwt==5.3.1
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.1.1